<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Appccelerate.CommandLineParser" version="1.2.0" targetFramework="net452" />
  <package id="Appccelerate.Fundamentals" version="2.8.0" targetFramework="net452" />
  <package id="LoveSeat" version="1.0.1" targetFramework="net452" />
  <package id="Newtonsoft.Json" version="4.0.6" targetFramework="net452" />
  <package id="TaskScheduler" version="2.5.13" targetFramework="net452" />
</packages>